<!-- En-tête du site -->
<header>
  <nav>
    <ul>
      <li>Welcome</li>
      <li>Our work</li>
      <li>Our history</li>
      <li>Our news</li>
      <li>Contact us</li>
    </ul>
  </nav>
  <p><a href="../fr">FR</a></p>
</header>