<footer>
<p>Conception et développement : <a href="https://creative-eye.fr" target="_blank">Creative Eye Studio</a><br />
Mentions légales - Politique de confidentialité - Gestion des cookies</p>
</footer>