<!-- En-tête du site -->
<header>
  <nav>
    <ul>
      <li>Bienvenue</li>
      <li>Nos réalisations</li>
      <li>Notre histoire</li>
      <li>Nos actualités</li>
      <li>Nous contacter</li>
    </ul>
  </nav>
  <p><a href="../en">EN</a></p>
</header>